* {
  background-color: black;
}

h1 {
  color: red;
  text-align: center;
}

h3 {
  color: blueviolet;
}

p {
  font-size: 1.5em;
  color: palevioletred;
}

.book {
  border: 1px solid whitesmoke;
  text-align: center;
  padding: 5px;
  margin: 5px;
}
